.dropdown {
	display: inline-block;
}

.dropdown .dropdown_selected {

}

.dropdown .dropdown_value {

}

.dropdown .dropdown_contents {
    position: absolute;
    display: none;
}

.dropdown:HOVER .dropdown_contents
{
	display: block;
}

.dropdown .dropdown_contents .dropdown_content {
    cursor: pointer;
}

.dropdown .dropdown_contents .dropdown_content[data-selected] {
    font-weight: bold;
}